.blog-nav {
  BORDER-BOTTOM: #e1e1e1 3px solid;
  BACKGROUND-COLOR: #fff; /*MARGIN-BOTTOM: 10px;*/
  HEIGHT: 50px;
  CLEAR: both;
  OVERFLOW: visible;
}
#ad_0 {
  MARGIN-BOTTOM: 10px;
}
.blog-nav .container {
  MARGIN: 0px auto;
  WIDTH: 1170px;
  FONT-FAMILY: "Microsoft YaHei";
  padding: 0;
}
.blog-nav .navbar-nav {
  CLEAR: both;
  OVERFLOW: visible;
}
.blog-nav .navbar-nav LI {
  FLOAT: left;
  MARGIN-RIGHT: 28px;
}
.blog-nav .navbar-nav LI A {
  PADDING-BOTTOM: 0px;
  LINE-HEIGHT: 50px;
  PADDING-LEFT: 6px;
  PADDING-RIGHT: 6px;
  DISPLAY: block;
  FLOAT: left;
  HEIGHT: 50px;
  COLOR: #727272;
  FONT-SIZE: 16px;
  PADDING-TOP: 0px;
}
.blog-nav .navbar-nav LI.active a {
  BORDER-BOTTOM: #dc3c00 3px solid;
  BACKGROUND-COLOR: transparent;
  TEXT-DECORATION: none;
}
.blog-nav .navbar-nav LI A:hover {
  BORDER-BOTTOM: #dc3c00 3px solid;
  BACKGROUND-COLOR: transparent;
  TEXT-DECORATION: none;
}
.blog-nav .navbar-nav LI.active:hover {
  BORDER-BOTTOM: 0px;
}
.blog-nav .navbar-collapse {
  PADDING-LEFT: 0px;
  PADDING-RIGHT: 0px;
}
.float-r {
  display: block;
  float: right;
  position: relative;
  z-index: 999;
  top: 14px;
  font-size: 14px;
  margin-left: 20px;
  color: #999;
}
.float-r:link,
.float-r:visited,
.float-r:hover,
.float-r:focus {
  color: #999;
  text-decoration: none;
}
.float-r i,
.float-r img {
  margin-right: 5px;
}
.move:link,
.move:visited,
.move:hover,
.move:focus {
  color: #d13030;
  text-decoration: none;
}
.choose_blog .choose_b_l a img,
.choose_blog .choose_b_r a img {
  width: 500px;
  height: 300px;
  max-width: 100%;
}
.choose_blog .choose_b_l {
  width: 500px;
}
.choose_blog .choose_b {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.choose_blog .choose_b .recommend_thumb {
  background: #e5e5e5;
  position: relative;
}
.choose_blog .choose_b .recommend_thumb:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: #4db2ec;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease 0.2s;
  -moz-transition: opacity 0.4s ease 0.2s;
  -o-transition: opacity 0.4s ease 0.2s;
  transition: opacity 0.4s ease 0.2s;
}
.choose_blog .choose_b .recommend_thumb .recom_a {
  display: block;
}
.choose_blog .choose_b .recommend_thumb .recom_a:before {
  bottom: 0;
  content: "";
  display: block;
  height: 70%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  filter: unqoute("progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#b30000', GradientType=0)");
  -ms-filter: alpha(Opacity=50);
}
.choose_blog .choose_b .recommend_thumb .recom_a:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  content: '';
  z-index: 1;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
  -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -120%, 0);
}
.choose_blog .choose_b .recommend_thumb .recom_a .entry_thumb {
  -moz-transition: transform 0.6s ease 0s;
  -o-transitiontransform: 0.6s ease 0;
  transition: transform 0.6s ease 0s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition-timing-function: ease !important;
}
.choose_blog .choose_b .recommend_c {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(47,47,64,0.3);
  z-index: 19;
}
.choose_blog .choose_b .recommend_c .recom_url {
  display: block;
  width: 100%;
  height: 100%;
}
.choose_blog .choose_b .recommend_c .recom_c {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 20px;
}
.choose_blog .choose_b .recommend_c .recom_c a {
  font-size: 16px;
  color: #fff;
}
.choose_blog .choose_b .recommend_c .recom_c .recom_b {
  padding-top: 10px;
}
.choose_blog .choose_b .recommend_c .recom_c .recom_b img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.choose_blog .choose_b .recommend_c .recom_c .recom_b span {
  font-size: 12px;
  color: #fff;
}
.choose_blog .choose_b:hover .recom_a:after {
  -webkit-transition: transform 0.7s ease 0s;
  -moz-transition: transform 0.7s ease 0s;
  -o-transition: transform 0.7s ease 0s;
  transition: transform 0.7s ease 0s;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
  -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
  -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 146%, 0);
}
.choose_blog .choose_b:hover .recom_a .entry_thumb {
  display: block;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.choose_blog .choose_b_r {
  width: 340px;
  float: left;
  margin-left: 10px;
}
.user_defined {
  background: #fff;
  margin: 10px 0;
  padding: 10px 15px;
}
.user_defined .user_defined_item {
  display: inline-block;
  margin-right: 30px;
  color: #333;
}
.user_defined .user_defined_item:hover {
  color: #c00;
}
.user_defined .red {
  color: #c00;
}
.user_defined .red .fa {
  margin-right: 5px;
}
.blog_list_wrap {
  background: #fff;
  overflow: hidden;
}
.blog_list_wrap .category_sec {
  width: 100%;
  padding: 10px 20px 0;
  height: 70px;
  border-bottom: solid 1px #e7ecef;
}
.blog_list_wrap .category_sec .category_sec_l {
  width: 40%;
  height: 60px;
  float: left;
  line-height: 60px;
  background: url("../images/icon.png") 0 -75px no-repeat;
  padding-left: 35px;
}
.blog_list_wrap .category_sec .category_sec_l em {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.blog_list_wrap .category_sec .category_web {
  background-position: 0 -135px;
}
.blog_list_wrap .category_sec .category_enterprise {
  background-position: 0 -204px;
}
.blog_list_wrap .category_sec .category_code {
  background-position: 0 -263px;
}
.blog_list_wrap .category_sec .category_www {
  background-position: 0 -335px;
}
.blog_list_wrap .category_sec .category_database {
  background-position: 0 -395px;
}
.blog_list_wrap .category_sec .category_system {
  background-position: 0 -455px;
}
.blog_list_wrap .category_sec .category_cloud {
  background-position: 0 -511px;
}
.blog_list_wrap .category_sec .category_software {
  background-position: 0 -567px;
}
.blog_list_wrap .category_sec .category_other {
  background-position: 0 -628px;
}
.blog_list_wrap .category_sec .category_sec_r {
  width: 45%;
  height: 60px;
  float: right;
  text-align: right;
  padding-top: 25px;
}
.blog_list_wrap .category_sec .category_sec_r .cate_list li {
  padding: 0 15px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
.blog_list_wrap .category_sec .category_sec_r .cate_list li a {
  font-size: 14px;
  color: #333;
}
.blog_list_wrap .category_sec .category_sec_r .cate_list .cate_cur {
  border-bottom: solid 2px #c00;
  position: relative;
}
.blog_list_wrap .category_sec .category_sec_r .cate_list .cate_cur:after {
  position: absolute;
  display: block;
  z-index: 1;
  bottom: -6px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  content: '';
  border-bottom: 0;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  border-top: solid 6px #c00;
}
.blog_list_wrap .blog_list {
  padding: 30px 0;
  border-bottom: solid 1px #e7ecef;
}
.blog_list_wrap .blog_list:last-child {
  border-bottom: none;
}
.blog_list_wrap .blog_list dt {
  width: 150px;
  padding: 0 20px;
  float: left;
}
.blog_list_wrap .blog_list dt .head {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  border-radius: 50%;
}
.blog_list_wrap .blog_list dt .nickname {
  font-size: 12px;
  color: #333;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.blog_list_wrap .blog_list dt .nickname:hover {
  color: #c00;
}
.blog_list_wrap .blog_list dt .export {
  display: block;
  width: 25px;
  height: 25px;
  margin: 5px auto;
}
.blog_list_wrap .blog_list dd {
  border-left: solid 1px #ecf1f3;
  margin-left: 150px;
  padding: 0 20px;
}
.blog_list_wrap .blog_list dd h3 {
  line-height: 24px;
  padding-bottom: 10px;
}
.blog_list_wrap .blog_list dd h3 a {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.blog_list_wrap .blog_list dd h3 a:hover {
  color: #c00;
}
.blog_list_wrap .blog_list dd h3 a:active {
  color: #999;
}
.blog_list_wrap .blog_list dd .blog_list_c {
  font-size: 12px;
  color: #888;
}
.blog_list_wrap .blog_list dd .blog_list_b {
  padding-top: 30px;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_l span {
  display: inline-block;
  margin-right: 25px;
  font-size: 12px;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_l span .fa {
  color: #999;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_l span a {
  display: inline-block;
  margin-left: 5px;
  color: #333;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_l span a:hover {
  color: #c00;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_l span img {
  margin-top: -3px;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_r {
  font-size: 12px;
  color: #999;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_r label {
  display: inline-block;
  margin-right: 20px;
  font-weight: normal;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_r span .fa {
  margin-right: 5px;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_r span em {
  color: #333;
}
.blog_list_wrap .blog_list dd .blog_list_b .blog_list_b_r span .fa-commenting-o {
  margin-left: 10px;
}
.blog_list_wrap .blog_list dd .blog_list_b_b {
  padding-top: 5px;
  text-align: right;
}
.blog_list_wrap .blog_list dd .blog_list_b_b a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.blog_list_wrap .blog_list dd .blog_list_b_b span {
  font-size: 12px;
  color: #666;
}
.loadMore,
.loadMore_icon {
  padding: 16px 0;
  text-align: center;
  cursor: pointer;
  background: #f0f3f5;
  border-top: solid 1px #e7ecef;
  border-bottom: solid 1px #e7ecef;
}
.loadMore_icon {
  display: none;
}
.circle_move .fa {
  animation: circleMove 1.5s infinite linear;
  -moz-animation: circleMove 1.5s infinite linear;
  -webkit-animation: circleMove 1.5s infinite linear;
  -o-animation: circleMove 1.5s infinite linear;
}
@-moz-keyframes circleMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes circleMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes circleMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circleMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.column {
  background: #fff;
  margin: 10px 0;
  position: relative;
  padding: 30px 45px 30px 50px;
}
.column .column_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: url("../images/triangle.png") no-repeat;
  font-size: 12px;
  color: #fff;
  padding: 6px 0 0 4px;
}
.column .column_list {
  width: 220px;
  height: 250px;
  float: left;
  margin-left: 46px;
  position: relative;
}
.column .column_list:first-child {
  margin-left: 0;
}
.column .column_list .blog_column_bg {
  width: 220px;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.column .column_list .column_list_link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.column .column_list .column_list_link::before {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  height: 70%;
  width: 100%;
  z-index: 2;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  filter: unqoute("progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#b30000', GradientType=0)");
  -ms-filter: alpha(Opacity=50);
}
.column .column_list .column_list_link .column_c {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 20px 15px;
  width: 100%;
}
.column .column_list .column_list_link .column_c .column_list_p {
  font-size: 14px;
  color: #fff;
}
.column .column_list .column_list_link .column_c .column_list_b {
  font-size: 12px;
  color: #fff;
}
.column .column_list .column_list_link .column_c .column_list_b {
  padding-top: 10px;
  display: none;
/*.column_list_b_l
            width 50%
          .column_list_b_r
            width 49%
            text-align right*/
}
.column .column_list .column_list_link .column_c .column_list_b .fa {
  margin-right: 5px;
}
.page-nav {
  overflow: hidden;
  height: auto;
}
.page-nav a {
  color: #333;
}
.csdn-pagination {
  vertical-align: middle;
  width: 100%;
  text-align: center;
  clear: both;
  margin: 0 auto 20px;
  padding: 20px 0;
  background: #fff;
  display: table;
  font-size: 12px;
}
.csdn-pagination .btn {
  padding: 3px 7px;
  margin: 0 -1px;
  height: 22px;
  min-width: 22px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f8f8f8;
  line-height: 15px;
  margin-left: 5px;
}
.csdn-pagination .text {
  color: #999;
}
.csdn-pagination .text em {
  display: inline-block;
  margin-right: 10px;
  color: #666;
}
.csdn-pagination .text .btn .caret {
  margin-left: 20px;
}
.csdn-pagination input {
  width: 30px;
  height: 22px;
  vertical-align: middle;
  margin: 0 5px;
}
.csdn-pagination .btn:hover {
  border-color: #c00;
  background-color: #f8f8f8;
  color: #333;
}
.csdn-pagination .page-nav span,
.csdn-pagination .page-nav a,
.csdn-pagination .page-nav input {
  margin-right: 5px;
  border-radius: 3px;
/*color #333*/
}
.csdn-pagination .page-nav input.text {
  border: 1px solid #ccc;
  padding: 3px 4px;
  text-align: center;
  line-height: 0;
}
.csdn-pagination .active,
.csdn-pagination .active:hover {
  border-color: #c00;
  background-color: #c00;
  color: #fff;
  cursor: default;
}
.exp_page {
  background: none;
  padding: 30px 0;
}
.expert {
  background: #fff;
  position: relative;
  padding: 40px 30px 30px;
}
.expert .expert_title {
  position: absolute;
  top: 10px;
  left: -7px;
  height: 28px;
  line-height: 28px;
  background: #d13030;
  padding: 0 20px;
  font-size: 14px;
  color: #fff;
}
.expert .expert_title .triangle {
  position: absolute;
  left: 0;
  bottom: -4px;
}
.expert .expert_c dt .head_expert {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.expert .expert_c dt .expert_name {
  padding: 10px 0;
  text-align: center;
}
.expert .expert_c dt .expert_name a {
  font-size: 18px;
  color: #333;
}
.expert .expert_c dt .expert_name a:hover {
  color: #c00;
}
.expert .expert_c dt .author {
  width: 75px;
  margin: 0 auto;
  height: 20px;
  line-height: 18px;
  font-size: 12px;
  color: #ffa03b;
  border: solid 1px #ffa03b;
  text-align: center;
  border-radius: 20px;
}
.expert .expert_c dd {
  position: relative;
  padding: 0 20px;
  margin-top: 10px;
}
.expert .expert_c dd .icon_l {
  position: absolute;
  left: 0;
  top: 0;
}
.expert .expert_c dd .icon_r {
  position: absolute;
  right: 0;
  bottom: 0;
}
.blog_category {
  padding: 10px 20px;
}
.blog_category .category_list li {
  padding: 15px 0;
  border-bottom: dashed 1px #c6cfd2;
}
.blog_category .category_list li:last-child {
  border-bottom: none;
}
.blog_category .category_list li a {
  display: inline-block;
  height: 30px;
  width: 125px;
  line-height: 30px;
  margin-right: 8px;
  padding-left: 40px;
  font-size: 14px;
  color: #333;
  background: url("../images/icon.png") no-repeat;
}
.blog_category .category_list li a:hover {
  color: #c00;
}
.blog_category .category_list li a:last-child {
  margin-right: 0;
}
.blog_category .category_list li .mobile {
  background-position: 0 -90px;
}
.blog_category .category_list li .web {
  background-position: 0 -150px;
}
.blog_category .category_list li .enterprise {
  background-position: 0 -220px;
}
.blog_category .category_list li .code {
  background-position: 0 -280px;
}
.blog_category .category_list li .www {
  background-position: 0 -350px;
}
.blog_category .category_list li .database {
  background-position: 0 -410px;
}
.blog_category .category_list li .system {
  background-position: 0 -470px;
}
.blog_category .category_list li .cloud {
  background-position: 0 -530px;
}
.blog_category .category_list li .software {
  background-position: 0 -585px;
}
.blog_category .category_list li .other {
  background-position: 0 -645px;
}
.mod_title {
  height: 50px;
  border-bottom: solid 1px #ebebeb;
  position: relative;
  padding: 0 20px;
  line-height: 50px;
}
.mod_title .border_b {
  height: 2px;
  position: absolute;
  left: 20px;
  bottom: -1px;
  width: 20px;
  border-bottom: solid 2px #c00;
}
.mod_title .mod_title_t {
  line-height: 50px;
}
.mod_title .mod_title_t label {
  font-size: 16px;
  color: #333;
}
.mod_title .mod_title_t label a {
  font-weight: bold;
  color: #333;
}
.mod_title .mod_title_t label a:hover {
  color: #c00;
}
.mod_title .mod_title_t .expert_apply {
  float: right;
  font-size: 12px;
  color: #c00;
  padding-top: 15px;
}
.mod_title .mod_title_t .expert_apply:hover {
  color: #f93c3c;
}
.mod_title .mod_title_t .List {
  float: right;
  font-size: 14px;
  color: #bbb;
}
.mod_title .mod_title_t .List span {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
.mod_title .mod_title_t .List span:hover {
  color: #c00;
}
.mod_title .mod_title_t .List .list_cur {
  color: #c00;
}
.mod_title .mod_title_t .look_all {
  float: right;
  padding-top: 15px;
  font-size: 14px;
  color: #666;
}
.mod_title .mod_title_t .look_all:hover {
  color: #c00;
}
.expert_course {
  padding: 20px 20px 30px;
}
.expert_course .expert_c {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #e7ecef;
  padding-bottom: 20px;
}
.expert_course .expert_c .notice {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 27px;
  background: #f90;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 27px;
}
.expert_course .expert_c .notice_img img {
  width: 259px;
  height: 175px;
}
.expert_course .expert_c .course_name {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 15px 15px 10px;
  color: #333;
}
.expert_course .expert_c .course_name:hover {
  color: #c00;
}
.expert_course .expert_c .course_b {
  padding: 0 15px;
  font-size: 12px;
}
.expert_course .expert_c .course_b span {
  display: inline-block;
}
.expert_course .expert_c .course_b span em {
  color: #999;
}
.expert_course .expert_c .course_b span b {
  font-weight: normal;
}
.expert_course .expert_c .course_b label {
  float: right;
  color: #f90;
  font-weight: normal;
}
.expert_wrap {
  padding: 0 20px 10px;
}
.expert_wrap .expert_list {
  padding: 20px 0;
  border-bottom: dashed 1px #c6cfd2;
}
.expert_wrap .expert_list:last-child {
  border-bottom: none;
}
.expert_wrap .expert_list dt {
  width: 60px;
  height: 60px;
  float: left;
}
.expert_wrap .expert_list dt img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.expert_wrap .expert_list dd {
  margin-left: 78px;
}
.expert_wrap .expert_list dd .expert_t {
  font-size: 14px;
  color: #333;
}
.expert_wrap .expert_list dd .expert_t:hover {
  color: #c00;
}
.expert_wrap .expert_list dd .expert_intro {
  color: #999;
  padding-top: 5px;
}
.expert_recommend {
  padding: 0 20px 10px;
}
.expert_recommend .expert_book {
  padding: 20px 0;
  border-bottom: dashed 1px #c6cfd2;
}
.expert_recommend .expert_book:last-child {
  border-bottom: none;
}
.expert_recommend .expert_book dt {
  width: 90px;
  height: 90px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  text-align: center;
  float: left;
}
.expert_recommend .expert_book dt img {
  max-height: 88px;
  max-width: 100%;
  height: 100%;
}
.expert_recommend .expert_book dd {
  margin-left: 105px;
  padding: 10px 0 0;
}
.expert_recommend .expert_book dd .book_name {
  display: block;
  font-size: 14px;
  color: #333;
}
.expert_recommend .expert_book dd .book_name:hover {
  color: #c00;
}
.expert_recommend .expert_book dd .book_c {
  padding-top: 10px;
}
.expert_recommend .expert_book dd .book_c a {
  font-size: 14px;
  color: #c00;
}
.expert_recommend .expert_book dd .book_c a:hover {
  color: #f93c3c;
}
.expert_recommend .expert_book dd .book_c img {
  margin-left: 10px;
}
.hot_wrap {
  padding: 0 20px 10px;
}
.hot_wrap li {
  padding: 15px 0;
  border-bottom: dashed 1px #c6cfd2;
}
.hot_wrap li:last-child {
  border-bottom: none;
}
.hot_wrap li a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: #333;
}
.hot_wrap li a:hover .fa,
.hot_wrap li a:hover span {
  color: #c00;
}
.hot_wrap li a .fa {
  margin-right: 5px;
  color: #bbb;
}
.contact {
  padding: 25px 20px;
}
.contact p {
  font-size: 14px;
  color: #333;
}
.contact p .fa {
  margin-right: 8px;
  color: #bbb;
}
.contact p a {
  color: #333;
}
.contact p a:hover {
  color: #c00;
}
.blog_r_nav {
  width: 40px;
  position: fixed;
  right: 30px;
  top: 190px;
}
.blog_r_nav div {
  width: 40px;
  height: 40px;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  cursor: pointer;
  margin-bottom: 10px;
}
.blog_r_nav div:hover img {
  display: none;
}
.blog_r_nav div:hover a {
  display: block;
}
.blog_r_nav div img {
  margin: -3px 0 0 -1px;
}
.blog_r_nav div a {
  display: none;
  width: 40px;
  height: 40px;
  padding: 5px 3px;
  font-size: 12px;
  color: #666;
  line-height: 14px;
  text-align: center;
}
.blog_r_nav div .move_blog {
  color: #d13030;
}
.blog_r_nav #backTop {
  display: none;
}
.expert_wrap {
  padding: 0 20px 10px;
}
.expert_wrap .expert_list {
  padding: 20px 0;
  border-bottom: dashed 1px #c6cfd2;
}
.expert_wrap .expert_list:last-child {
  border-bottom: none;
}
.expert_wrap .expert_list dt {
  width: 60px;
  height: 60px;
  float: left;
}
.expert_wrap .expert_list dt img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.expert_wrap .expert_list dd {
  margin-left: 78px;
}
.expert_wrap .expert_list dd .expert_t {
  font-size: 14px;
  color: #333;
}
.expert_wrap .expert_list dd .expert_t:hover {
  color: #c00;
}
.expert_wrap .expert_list dd .expert_intro {
  color: #999;
  padding-top: 5px;
}
.recommend_lib .expert_list dt a img {
  border: solid 1px #efefef;
}
.recommend_lib .expert_list dd .recommend_t {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.recommend_lib .expert_list dd .recommend_t:hover {
  color: #c00;
}
.recommend_lib .expert_list dd .recomend_c label {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  color: #999;
}
.recommend_lib .expert_list dd .recomend_c span {
  color: #5d5d5d;
  margin-right: 10px;
}
.ranking {
  width: 380px;
  height: 775px;
  overflow: hidden;
  padding: 8px 15px 5px;
  background: #fff;
  float: left;
  margin: 0 15px 20px 0;
}
.ranking .rank_t {
  font-size: 16px;
  color: #333;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 2px #d9e3e9;
}
.ranking .ranking_c li:nth-child(1) em {
  background: #e1e10d;
  color: #fff;
}
.ranking .ranking_c li:nth-child(2) em {
  background: #ccd0d3;
  color: #fff;
}
.ranking .ranking_c li:nth-child(3) em {
  background: #c6996d;
  color: #fff;
}
.ranking .ranking_c li:last-child label {
  border-bottom: none;
}
.ranking .ranking_c li em {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  color: #b8b8b8;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.ranking .ranking_c li label {
  border-bottom: dashed 1px #b5c2ca;
  padding: 25px 0;
  width: 90%;
}
.ranking .ranking_c li label .article_t {
  display: inline-block;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}
.ranking .ranking_c li label .article_t:hover {
  color: #c00;
}
.ranking .ranking_c li label .blog_img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #dae4ea;
  margin-right: 10px;
}
.ranking .ranking_c li label .column_img {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 45px;
  margin-right: 10px;
}
.ranking .ranking_c li label .blog_a {
  display: inline-block;
  width: 56%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
}
.ranking .ranking_c li label .blog_a:hover {
  color: #c00;
}
.ranking .ranking_c li label .blog_a_top {
  width: 40%;
}
.ranking .ranking_c li label .article_span,
.ranking .ranking_c li label .blog_span {
  float: right;
}
.ranking .ranking_c li label .article_span .fa,
.ranking .ranking_c li label .blog_span .fa {
  font-size: 12px;
  color: #9aa7af;
  margin-right: 5px;
  font-weight: normal;
  vertical-align: middle;
}
.ranking .ranking_c li label .article_span b,
.ranking .ranking_c li label .blog_span b {
  font-weight: normal;
  color: #333;
  vertical-align: middle;
}
.ranking .ranking_c li label .article_span .blog_b_margin,
.ranking .ranking_c li label .blog_span .blog_b_margin {
  margin-right: 20px;
}
.ranking .ranking_c li .blog_pad {
  padding: 18px 0;
}
.ranking .ranking_c .column_pad label {
  padding: 17px 0;
}
.rank_blog {
  margin: 0 0 20px;
}
.star_t .star_t_c .star_t_num {
  text-align: center;
  padding: 20px 0 0;
}
.star_t .star_t_c .star_t_num label {
  position: relative;
}
.star_t .star_t_c .star_t_num label em {
  position: absolute;
  top: 0;
  left: -25px;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.star_t .star_t_c .star_t_num label .num1 {
  background: #e1e10d;
}
.star_t .star_t_c .star_t_num label .num2 {
  background: #ccd0d3;
}
.star_t .star_t_c .star_t_num label .num3 {
  background: #c6996d;
}
.star_t .star_t_c .star_t_num label a img {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: solid 1px #e3eaef;
  border-radius: 50%;
}
.star_t .star_t_c .star_t_num .star_name {
  display: block;
  font-size: 12px;
  color: #333;
}
.star_t .star_t_c .star_t_num .star_name:hover {
  color: #c00;
}
.star_t .star_t_c .star_sec {
  width: 50%;
}
.star_b {
  margin-top: 20px;
}
.star_b li em {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  vertical-align: middle;
  color: #b8b8b8;
}
.star_b li label {
  border-top: dashed 1px #b5c2ca;
  padding: 10px 0;
  width: 90%;
}
.star_b li label .star_img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #dae4ea;
  margin-right: 10px;
}
.star_b li label .star_name {
  display: inline-block;
  width: 78%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #333;
  vertical-align: middle;
}
.star_b li label .star_name:hover {
  color: #c00;
}
.star_b li:first-child label {
  border-top: none;
}
.viewpoint_latest .viewpoint_latest_t {
  background-size: cover;
}
.viewpoint_latest .viewpoint_latest_t .view_latest_mask {
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding: 20px;
}
.viewpoint_latest .viewpoint_latest_t .view_latest_mask .view_latest_c {
  padding: 10px 0 0;
  font-size: 14px;
  color: #fff;
}
.viewpoint_latest .view_latest_b {
  padding: 15px 5%;
  border-bottom: solid 1px #ebebeb;
}
.viewpoint_latest .view_latest_b .view_latest_b_l,
.viewpoint_latest .view_latest_b .view_latest_b_c,
.viewpoint_latest .view_latest_b .view_latest_b_r {
  display: inline-block;
}
.viewpoint_latest .view_latest_b .view_latest_b_c {
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
.viewpoint_latest .view_latest_b .view_latest_b_c .vote {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: solid 1px #d13030;
  border-radius: 5px;
  font-size: 14px;
  color: #d13030;
}
.viewpoint_latest .view_latest_b .view_latest_b_l,
.viewpoint_latest .view_latest_b .view_latest_b_r {
  text-align: center;
  width: 25%;
  vertical-align: middle;
}
.viewpoint_latest .view_latest_b .view_latest_b_l span,
.viewpoint_latest .view_latest_b .view_latest_b_r span {
  font-size: 14px;
  color: #da0c0c;
}
.viewpoint_latest .view_latest_b .view_latest_b_l em,
.viewpoint_latest .view_latest_b .view_latest_b_r em {
  display: block;
  font-size: 24px;
  color: #da0c0c;
  font-family: 'Agency FB';
  font-weight: bold;
}
.viewpoint_latest .view_latest_list {
  padding: 10px 20px;
}
.viewpoint_latest .view_latest_list li {
  border-top: dashed 1px #c6cfd2;
  padding: 10px 0;
}
.viewpoint_latest .view_latest_list li:first-child {
  border-top: none;
}
.viewpoint_latest .view_latest_list li a {
  font-size: 14px;
  color: #666;
}
.viewpoint_latest .view_latest_list li a:hover {
  color: #c00;
}
.viewpoint_latest .view_latest_list li a .fa {
  margin-right: 5px;
  vertical-align: middle;
}
.viewpoint_latest .view_latest_list li a span {
  display: inline-block;
  width: 95%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.rankList {
  width: 1170px;
  margin: -10px auto 0;
}
.blog_experts_wrap {
  width: 1170px;
  margin: 0 auto 30px;
}
.blog_experts_wrap .blog_experts_c {
  margin-top: 20px;
  background: #fff;
  padding-bottom: 10px;
}
.expert_banner {
  height: 330px;
  width: 100%;
  background: #338dba url("../images/experts_banner_bg.png") repeat-x;
}
.expert_banner .expert_banner_c {
  width: 1170px;
  height: 330px;
  margin: 0 auto;
  background: url("../images/experts_banner_c.png") no-repeat;
  padding: 110px 0 0 290px;
  font-size: 14px;
  color: #fff;
  position: relative;
}
.expert_banner .expert_banner_c h5 {
  padding-top: 10px;
}
.expert_banner .expert_banner_c .expert_banner_list li {
  line-height: 26px;
}
.expert_banner .expert_banner_c .expert_banner_list li .fa {
  margin-right: 10px;
  color: #a5b7e6;
}
.expert_banner .expert_banner_c .expert_banner_r {
  position: absolute;
  width: 220px;
  height: 240px;
  background: #fff;
  right: 40px;
  top: 45px;
  padding: 30px 25px;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_banner_p {
  font-size: 14px;
  color: #666;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_new {
  border-bottom: dashed 1px #70b3f1;
  padding: 20px 0 15px;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_new a:last-child img {
  margin-right: 0;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_new a img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_b {
  text-align: center;
  padding-top: 30px;
}
.expert_banner .expert_banner_c .expert_banner_r .expert_b .apply_expert {
  display: inline-block;
  padding: 0 25px;
  height: 36px;
  background: #338dba;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
}
.experts_activity {
  height: 56px;
  line-height: 56px;
  border-bottom: solid 1px #e7ecef;
  padding-left: 30px;
  font-weight: normal;
  font-size: 16px;
  color: #333;
}
.experts_list_wrap {
  padding: 10px 30px 20px 0;
}
.experts_list_wrap .experts_list {
  background: #f8fafb;
  border: solid 1px #e7ecef;
  width: 255px;
  height: 215px;
  position: relative;
  float: left;
  margin-left: 30px;
  padding-top: 50px;
  margin-top: 60px;
}
.experts_list_wrap dt {
  position: absolute;
  top: -40px;
  left: 88px;
}
.experts_list_wrap dt .expert_head {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 1px #f0f3f5;
}
.experts_list_wrap dd {
  text-align: center;
}
.experts_list_wrap dd .expert_name {
  display: block;
  padding: 0 20px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.experts_list_wrap dd .address {
  padding: 8px 0;
  font-size: 12px;
  color: #999;
}
.experts_list_wrap dd .address em,
.experts_list_wrap dd .address b,
.experts_list_wrap dd .address span {
  display: inline-block;
  vertical-align: middle;
}
.experts_list_wrap dd .address b {
  margin: 0 10px;
  font-weight: normal;
}
.experts_list_wrap dd .count .count_l {
  width: 50%;
}
.experts_list_wrap dd .count .count_l b,
.experts_list_wrap dd .count .count_l span {
  display: block;
}
.experts_list_wrap dd .count .count_l b {
  font-size: 18px;
  color: #338dba;
}
.experts_list_wrap dd .count .count_l span {
  color: #95a6ae;
}
.experts_list_wrap dd .attention {
  padding-top: 5px;
}
.experts_list_wrap dd .attention .add_attention {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  border: solid 1px #338dba;
  font-size: 14px;
  color: #338dba;
  text-decoration: none;
}
.experts_list_wrap dd .attention .add_attention:hover {
  color: #fff;
  background: #338dba;
}
.experts_list_wrap dd .attention .already_attention {
  color: #bbb;
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  line-height: 28px;
  border-radius: 20px;
  border: solid 1px #bbb;
  text-decoration: none;
}
.experts_cate {
  height: 56px;
  line-height: 56px;
  border-bottom: solid 1px #e7ecef;
  padding-left: 30px;
  font-weight: normal;
}
.experts_cate .cate_l a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  margin-right: 25px;
  font-size: 14px;
  color: #666;
}
.experts_cate .cate_l a:hover {
  color: #c00;
  border-bottom: solid 2px #c00;
}
.experts_cate .cate_l .cate_cur {
  border-bottom: solid 2px #c00;
  font-weight: bold;
}
.experts_cate .cate_r {
  font-size: 14px;
  color: #5e9fbf;
  padding-right: 27px;
  cursor: pointer;
}
.experts_cate .cate_r .fa {
  margin-right: 5px;
}
.exp_banner_wrap {
  width: 100%;
  height: 300px;
  position: relative;
}
.exp_banner_wrap .exp_banner_mask {
  width: 100%;
  height: 300px;
  background: rgba(0,0,0,0.2);
}
.exp_banner_wrap .exp_banner {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1170px;
  height: 300px;
  left: 50%;
  margin: 0 0 0 -585px;
  padding: 115px 0 0;
  text-align: center;
}
.exp_banner_wrap .exp_banner .expt_banner_intro {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.exp_banner_wrap .exp_banner .exp_banner_a {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
}
.exp_item {
  height: 42px;
  line-height: 42px;
  padding-left: 20px;
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 20px;
}
.exp_item a {
  display: inline-block;
  font-size: 16px;
  color: #333;
  margin-right: 15px;
/*padding 0 10px*/
  height: 42px;
  line-height: 42px;
}
.exp_item a:hover {
  border-bottom: solid 2px #dc3c00;
  font-weight: bold;
  font-size: 18px;
}
.exp_item .exp_item_cur {
  border-bottom: solid 2px #dc3c00;
  font-weight: bold;
  font-size: 18px;
}
.exp_list_wrap .exp_list {
  padding: 25px 0;
  border-bottom: dashed 1px #e5e5e5;
}
.exp_list_wrap .exp_list:last-child {
  border-bottom: solid 1px #e5e5e5;
}
.exp_list_wrap .exp_list dt .exp_list_title {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.exp_list_wrap .exp_list dt .exp_list_title:active {
  color: #333;
}
.exp_list_wrap .exp_list dt .exp_list_title:hover {
  color: #c00;
}
.exp_list_wrap .exp_list .exp_intro {
  font-size: 14px;
  color: #666;
  padding: 5px 0 25px;
}
.exp_list_wrap dd .exp_list_l {
  display: inline-block;
  vertical-align: middle;
}
.exp_list_wrap dd .exp_list_l img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.exp_list_wrap dd .exp_list_l .exp_list_name {
  font-size: 12px;
  color: #333;
}
.exp_list_wrap dd .exp_list_l .exp_list_name:hover {
  color: #c00;
}
.exp_list_wrap dd .exp_list_r {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #999;
  font-size: 0;
}
.exp_list_wrap dd .exp_list_r span,
.exp_list_wrap dd .exp_list_r label,
.exp_list_wrap dd .exp_list_r em,
.exp_list_wrap dd .exp_list_r i {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.exp_list_wrap dd .exp_list_r label {
  margin-left: 20px;
}
.exp_list_wrap dd .exp_list_r label i,
.exp_list_wrap dd .exp_list_r label em {
  font-weight: normal;
  color: #333;
}
.exp_list_wrap dd .exp_list_r label i {
  margin-right: 5px;
  color: #bbb;
}
.apply_in_btn {
  display: block;
  width: 100%;
  background: #dc3c00;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}
.apply_in_btn:hover {
  color: #fff;
}
.apply_in_btn img {
  margin-right: 10px;
}
.exp_reco {
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 20px;
}
.exp_reco .expert_list:last-child {
  padding-bottom: 0;
}
.exp_reco .expert_list dd .expert_t {
  padding-top: 20px;
  display: inline-block;
}
.exp_noti {
  width: 960px;
  margin: 35px auto;
  border: solid 1px #ededed;
  background: #fff;
  padding: 32px 45px 40px 75px;
}
.exp_noti .exp_noti_wrap {
  margin: 60px 0 40px;
  padding: 20px 20px 40px;
  height: 620px;
  overflow-y: auto;
/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
}
.exp_noti .exp_noti_wrap::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(220,220,220,0.5);
  border-radius: 5px;
  margin-top: 80px;
}
.exp_noti .exp_noti_wrap::-webkit-scrollbar-track {
  border-radius: 5px;
}
.exp_noti .exp_noti_wrap::-webkit-scrollbar-thumb {
  background-color: rgba(180,180,180,0.4);
  border-radius: 5px;
}
.exp_noti .read_agree {
  text-align: center;
}
.exp_noti .read_agree .read_agree_btn {
  display: inline-block;
  width: 310px;
  height: 40px;
  line-height: 40px;
  background: #dc3c00;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.exp_apply_t {
  text-align: center;
  font-size: 22px;
  color: #333;
  font-weight: bold;
  padding-bottom: 30px;
  line-height: 30px;
}
.exp_apply_plan {
  width: 680px;
  height: 52px;
  border-radius: 30px;
  background: #aaafa8;
  font-size: 0;
  position: relative;
  margin: 0 auto;
}
.exp_apply_plan label {
  position: absolute;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 5px #fff;
  background: #efefef;
  margin: -4px 0;
  text-align: center;
  line-height: 52px;
}
.exp_apply_plan label:first-child {
  margin: -5px 0 -3px -2px;
}
.exp_apply_plan label strong {
  font-size: 24px;
  color: #aaafa8;
  font-family: 'Arial';
  font-style: italic;
}
.exp_apply_plan span {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  height: 52px;
  line-height: 52px;
  font-size: 14px;
  color: #fff;
  padding-left: 80px;
}
.exp_apply_plan .yet_cur {
  background: #63b244;
  margin: 0 -20px 0 20px;
  padding-left: 60px;
}
.exp_apply_suc {
  margin: 150px auto 400px;
  width: 425px;
  height: 220px;
  border: solid 1px #e2e2e2;
  background: #f6f6f6;
  border-radius: 5px;
  text-align: center;
  padding: 60px 0;
}
.exp_apply_suc img {
  width: 57px;
  height: 56px;
}
.exp_apply_suc .exp_succ_intro {
  padding-top: 25px;
  font-size: 16px;
  color: #000;
}
.exp_main {
  width: 1170px;
  margin: 20px auto;
  padding-left: 20px;
}
.exp_exp_list {
  background: #fff;
  border: solid 1px #ebebeb;
  margin: 0 20px 20px 0;
  width: 266px;
  float: left;
}
.exp_exp_list dt {
  text-align: center;
  padding: 20px 0 10px;
}
.exp_exp_list dt a img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: solid 1px #ebebeb;
  display: inline-block;
}
.exp_exp_list dt .exp_name {
  display: block;
  padding: 10px 10px 5px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.exp_exp_list dt .exp_name:hover {
  color: #dc3c00;
}
.exp_exp_list dt .exp_p {
  font-size: 14px;
  color: #666;
}
.exp_exp_list dd {
  padding: 0 10px 10px;
}
.exp_exp_list dd .exp_dd_c {
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
  padding: 8px 0;
  font-size: 0;
}
.exp_exp_list dd .exp_dd_c label {
  display: inline-block;
  font-size: 12px;
  color: #95a6ae;
  width: 45%;
  text-align: center;
}
.exp_exp_list dd .exp_dd_c label:first-child {
  margin-right: 15px;
}
.exp_exp_list dd .exp_dd_c label span,
.exp_exp_list dd .exp_dd_c label em {
  display: inline-block;
  font-size: 12px;
}
.exp_exp_list dd .exp_dd_c label em {
  margin-left: 5px;
  font-weight: normal;
  color: #338dba;
}
.exp_exp_list dd .exp_dd_b {
  margin: 10px 0 0;
  text-align: center;
}
.exp_exp_list dd .exp_dd_b .exp_attention,
.exp_exp_list dd .exp_dd_b .exp_already_attention {
  display: inline-block;
  border: solid 1px #dc3c00;
  border-radius: 20px;
  font-size: 14px;
  color: #dc3c00;
  height: 30px;
  line-height: 30px;
  padding: 0 36px;
}
.exp_exp_list dd .exp_dd_b .exp_attention:hover,
.exp_exp_list dd .exp_dd_b .exp_already_attention:hover {
  background: #dc3c00;
  color: #fff;
}
.exp_exp_list dd .exp_dd_b .exp_already_attention {
  color: #8dc051;
  border-color: #8dc051;
}
.exp_exp_list dd .exp_dd_b .exp_already_attention:hover {
  background: transparent;
  color: #8dc051;
}
.exp_per_wrap {
  width: 100%;
  height: 107px;
  position: relative;
}
.exp_per_wrap .exp_banner_mask {
  width: 100%;
  height: 107px;
  background: rgba(0,0,0,0.2);
}
.exp_top {
  position: relative;
  z-index: 2;
  width: 1170px;
  margin: -70px auto 20px;
}
.exp_top dt .exp_top_dt {
  text-align: center;
  position: relative;
}
.exp_top dt .exp_top_dt .exp_head {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  border: solid 2px #fff;
}
.exp_top dt .exp_top_dt .exp_top_dt_r {
  position: absolute;
  right: 380px;
  top: 30px;
}
.exp_top dt .exp_top_dt .exp_top_dt_r img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.exp_top dt .exp_top_dt .exp_top_dt_r .exp_per_page {
  font-size: 12px;
  color: #fff;
}
.exp_top dt .exp_top_b {
  text-align: center;
  padding: 20px 0;
}
.exp_top dt .exp_top_b strong,
.exp_top dt .exp_top_b label {
  display: inline-block;
  vertical-align: middle;
}
.exp_top dt .exp_top_b strong {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-right: 20px;
}
.exp_top dt .exp_top_b label img {
  width: 21px;
  height: 21px;
  margin-right: 5px;
}
.exp_top dt .exp_top_b label span {
  font-size: 12px;
  color: #003;
}
.exp_top dd {
  text-align: center;
  padding: 0 100px 0 145px;
}
.exp_top dd .exp_t_p {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}
.exp_top dd .exp_t_b {
  padding: 10px 0 0;
  font-size: 0;
}
.exp_top dd .exp_t_b label,
.exp_top dd .exp_t_b a,
.exp_top dd .exp_t_b em,
.exp_top dd .exp_t_b strong,
.exp_top dd .exp_t_b span {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}
.exp_top dd .exp_t_b label strong {
  font-size: 18px;
  color: #338dba;
  margin-right: 10px;
}
.exp_top dd .exp_t_b label span {
  color: #95a6ae;
}
.exp_top dd .exp_t_b a {
  margin: 0 15px 0 20px;
}
.exp_top dd .exp_t_b .exp_per_attention,
.exp_top dd .exp_t_b .exp_per_alre_attention {
  height: 20px;
  padding: 0 18px;
  border-radius: 20px;
  line-height: 18px;
}
.exp_top dd .exp_t_b .exp_per_attention {
  border: solid 1px #338dba;
  color: #338dba;
}
.exp_top dd .exp_t_b .exp_per_alre_attention {
  border: solid 1px #bbb;
  color: #bbb;
}
.exp_top dd .exp_t_b em {
  font-size: 14px;
  color: #666;
}
.exp_per_box {
  width: 1170px;
  margin: 0 auto;
  padding: 20px 100px 0;
}
.exp_per_list {
  padding: 0 0 40px 45px;
  background: url("../images/exp_per_dl_bg.jpg") repeat-y 0;
}
.exp_per_list dt {
  position: relative;
}
.exp_per_list dt .exp_per_dt .fa,
.exp_per_list dt .exp_per_dt .date {
  display: inline-block;
  vertical-align: middle;
}
.exp_per_list dt .exp_per_dt .fa {
  font-size: 18px;
  color: #95a6ae;
  margin-right: 10px;
}
.exp_per_list dt .exp_per_dt .date {
  font-size: 14px;
  color: #333;
}
.exp_per_list dt .per_icon {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  left: -50px;
  top: 0;
}
.exp_per_list dd {
  padding: 15px 0 0;
}
.exp_per_list dd .per_title {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.exp_per_list dd .per_title:hover {
  color: #c00;
}
.exp_per_list dd .per_intro {
  padding: 10px 0;
  font-size: 14px;
  color: #666;
}
.exp_per_list dd .exp_per_b {
  font-size: 0;
}
.exp_per_list dd .exp_per_b label {
  display: inline-block;
  font-size: 12px;
  color: #333;
  margin-right: 20px;
}
.exp_per_list dd .exp_per_b label .fa {
  color: #bbb;
  margin-right: 5px;
}
.exp_read {
  padding: 50px 230px 40px;
}
.exp_read img {
  width: 640px;
  max-width: 640px !important;
  height: auto;
  max-height: 498px !important;
  margin: 20px auto;
}
.exp_read p,
.exp_read section,
.exp_read div {
  padding: 20px 0 0;
  font-size: 16px;
  color: #666;
  line-height: 27px;
}
.exp_read .exp_read_t {
  font-size: 26px;
  color: #333;
  padding: 0 0 20px;
  line-height: 30px;
  text-align: center;
}
.exp_read .exp_read_top {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e9e9e9;
}
.exp_read .exp_read_top .read_item,
.exp_read .exp_read_top em,
.exp_read .exp_read_top b {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #999;
}
.exp_read .exp_read_top .read_item {
  height: 15px;
  line-height: 15px;
  padding: 0 3px;
  background: #67b73c;
  font-size: 12px;
  color: #fff;
}
.exp_read .exp_read_top em {
  margin: 0 20px 0 10px;
}
.exp_read .exp_read_top b {
  font-weight: normal;
}
.exp_read .read_intro {
  font-size: 16px;
  color: #666;
}
.exp_read .read_intro .read_intro_p {
  padding: 20px 0 0;
  font-size: 16px;
  color: #666;
  line-height: 27px;
}
.exp_read .read_intro .read_img {
/*width 700px
      height 150px*/
  width: 640px;
  max-width: 640px !important;
  height: auto;
  max-height: 498px !important;
  margin: 20px auto;
}
.exp_read .read_intro .read_img_intro {
  text-align: center;
  font-size: 14px;
  color: #666;
  font-family: 'KaiTi_GB2312';
}
.exp_read .read_intro .read_bottom {
  text-align: right;
}
.exp_read .read_intro .read_bottom a {
  font-size: 14px;
  color: #666;
}
.exp_read .read_intro .read_bottom a:hover {
  color: #c00;
}
.exp_read .read_intro .read_b {
  padding: 30px 0;
}
.exp_read .read_intro .read_b .read_b_l {
  font-size: 0;
}
.exp_read .read_intro .read_b .read_b_l .read_head,
.exp_read .read_intro .read_b .read_b_l .read_name,
.exp_read .read_intro .read_b .read_b_l .read_atten,
.exp_read .read_intro .read_b .read_b_l .read_atten_already {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.exp_read .read_intro .read_b .read_b_l .read_head {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.exp_read .read_intro .read_b .read_b_l .read_name {
  margin: 0 15px;
  color: #333;
}
.exp_read .read_intro .read_b .read_b_l .read_name:hover {
  color: #c00;
}
.exp_read .read_intro .read_b .read_b_l .read_atten,
.exp_read .read_intro .read_b .read_b_l .read_atten_already {
  height: 20px;
  line-height: 18px;
  padding: 0 18px;
  border-radius: 20px;
  border: solid 1px #338dba;
  font-size: 12px;
  color: #338dba;
  margin-right: 15px;
}
.exp_read .read_intro .read_b .read_b_l .read_atten_already {
  color: #bbb;
  border-color: #bbb;
}
.exp_read .read_intro .read_b .read_b_r label {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}
.exp_read .read_intro .read_b .read_b_r label:first-child {
  margin-left: 0;
}
.exp_read .read_intro .read_b .read_b_r label i,
.exp_read .read_intro .read_b .read_b_r label span,
.exp_read .read_intro .read_b .read_b_r label em,
.exp_read .read_intro .read_b .read_b_r label b,
.exp_read .read_intro .read_b .read_b_r label strong {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}
.exp_read .read_intro .read_b .read_b_r label .fa {
  color: #bbb;
  margin-right: 5px;
}
.exp_read .read_intro .read_b .read_b_r label strong {
  font-weight: normal;
}
.exp_read .read_intro .read_b .read_b_r .read_praise {
  height: 18px;
  border-radius: 10px;
  background: #3c8ab7;
  color: #fff;
  font-size: 0;
  padding: 0 15px;
}
.exp_read .read_intro .read_b .read_b_r .read_praise .fa,
.exp_read .read_intro .read_b .read_b_r .read_praise span,
.exp_read .read_intro .read_b .read_b_r .read_praise em,
.exp_read .read_intro .read_b .read_b_r .read_praise b {
  color: #fff;
  line-height: 16px;
  vertical-align: top;
}
.exp_read .read_intro .read_b .read_b_r .read_praise span {
  margin: 0 5px;
}
.exp_read .read_intro .read_b .read_b_r .read_praise em {
  font-weight: normal;
}
.exp_read .read_intro .read_b .read_b_r .read_praise b {
  margin-left: 5px;
  font-weight: normal;
}
.exp_comment {
  padding: 10px 0;
  border-top: solid 1px #f1f0ee;
}
.exp_comment .copyright_desc {
  font-size: 12px;
  color: #999;
  padding-top: 0;
}
.exp_comment .exp_comm_t strong {
  font-size: 16px;
  color: #333;
}
.exp_comment .exp_comm_t .exp_publish_btn {
  display: block;
  float: right;
  width: 60px;
  height: 24px;
  line-height: 24px;
  background: #dc3c00;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.exp_comment .exp_con {
  padding: 10px 0;
}
.exp_comment .exp_con .text_con {
  width: 710px;
  height: 135px;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  resize: none;
}
.read_comm_wrap .read_com_list {
  padding: 30px 0 0;
}
.read_comm_wrap .read_com_list dt {
  width: 45px;
  float: left;
}
.read_comm_wrap .read_com_list dt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.read_comm_wrap .read_com_list dd {
  margin-left: 60px;
}
.read_comm_wrap .read_com_list dd .read_dd_t .read_dd_a {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
.read_comm_wrap .read_com_list dd .read_dd_t .read_dd_a:hover {
  color: #c00;
}
.read_comm_wrap .read_com_list dd .read_dd_c {
  background: #fff;
  border: solid 1px #e0e0e0;
  border-radius: 5px;
  margin: 15px 0 10px;
  padding: 10px;
  position: relative;
  font-size: 12px;
  color: #666;
  word-break: break-all;
}
.read_comm_wrap .read_com_list dd .read_dd_c .read_dd_triangle {
  width: 12px;
  height: 10px;
  position: absolute;
  top: -30px;
  left: 15px;
}
.read_comm_wrap .read_com_list dd .read_dd_b {
  font-size: 12px;
  color: #999;
}
.read_r_wrap {
  position: fixed;
  right: 30%;
  top: 320px;
  z-index: 999;
}
.read_r_wrap .read_r {
  position: relative;
}
.read_r_wrap .read_r .read_icon {
  width: 30px;
  height: 22px;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  text-align: center;
  line-height: 22px;
}
.read_r_wrap .read_r .read_icon img {
  width: 20px;
  height: 15px;
}
.exp_apply_list {
  padding: 50px 0 50px 80px;
}
.exp_apply_list li {
  margin-bottom: 20px;
}
.exp_apply_list li strong {
  display: block;
  float: left;
  width: 140px;
  text-align: right;
  font-size: 14px;
  font-weight: normal;
  line-height: 34px;
}
.exp_apply_list li strong em {
  color: #e53935;
}
.exp_apply_list li strong i {
  color: #333;
  margin-left: 5px;
}
.exp_apply_list li label {
  display: block;
  margin-left: 160px;
}
.exp_apply_list li label .inpt,
.exp_apply_list li label .upload_b,
.exp_apply_list li label .texta {
  width: 380px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  background: #f9f9f9;
}
.exp_apply_list li label .apply_tips {
  font-size: 14px;
  color: #999;
  margin-left: 15px;
}
.exp_apply_list li label .upload_b {
  width: 135px;
  line-height: 30px;
}
.exp_apply_list li label .upload_b b,
.exp_apply_list li label .upload_b img {
  display: inline-block;
  vertical-align: middle;
}
.exp_apply_list li label .upload_b b {
  font-size: 14px;
  color: #333;
  font-weight: normal;
}
.exp_apply_list li label .upload_b img {
  margin-left: 15px;
}
.exp_apply_list li label .apply_file {
  height: 34px;
  margin-top: -34px;
  opacity: 0;
  cursor: pointer;
}
.exp_apply_list li label .texta {
  width: 520px;
  height: 167px;
  vertical-align: top;
  line-height: 24px;
  outline: none;
  resize: none;
  padding: 10px;
}
.exp_apply_list .exp_apply_list_b {
  padding-left: 160px;
}
.exp_apply_list .exp_apply_list_b .apply_into_btn {
  display: inline-block;
  width: 207px;
  height: 34px;
  border-radius: 5px;
  background: #e53935;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #fff;
}
.erweimaWrap {
  position: fixed;
  right: 5%;
  top: 280px;
  z-index: 10;
}
.erweimaWrap img {
  display: block;
  width: 109px;
  height: 109px;
}
.erweimaWrap span {
  display: block;
  line-height: 30px;
  font-size: 0;
}
.erweimaWrap span em,
.erweimaWrap span i {
  display: inline-block;
  font-size: 12px;
  color: #003;
}
.blog_ad {
  width: 1170px;
  margin: 10px auto 30px;
}
.blog_ad .blog_ad_l {
  width: 960px;
  height: 90px;
}
.blog_ad .blog_ad_r {
  width: 200px;
  height: 90px;
}
.blog_home_main {
  width: 1170px;
  margin: 30px auto;
}
.blog_home_main .blog_l {
  width: 850px;
}
.blog_home_main .blog_r {
  width: 300px;
}
.categ {
  background: #fff;
  margin-top: 10px;
}
.blog_sec {
  margin-top: 0;
}
.ranking_min {
  min-height: 900px;
}
.ranking_2013 {
  min-height: 1005px;
}
.exp_cate {
  margin-top: 20px;
}
.write_blog_wrap a {
  display: inline-block;
  width: 145px;
  height: 38px;
  background: #d13030;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 38px;
}
.write_blog_wrap .write_blog_btn {
  margin-right: 10px;
}
/* 博客专栏 */
/*  add by zhangw start 170215*/
.tab_bar {
  width: 100%;
  height: 49px;
  background-color: #fff;
  border-bottom: 1px solid #e7ecef;
}
.tab_list {
  width: 100%;
}
.tab_list li,
.tab_list .tab_item {
  display: inline-block;
  width: 100px;
  line-height: 49px;
  font-size: 16px;
  color: #666;
  text-align: center;
  cursor: pointer;
}
.tab_list .cur {
  position: relative;
  color: #c00;
}
.tab_list .cur:before {
  display: block;
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #c00;
  left: 0;
  bottom: 0;
}
.tab_list .cur:after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -4px;
  bottom: -5px;
  border-top: 5px solid #c00;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: none;
}
.blog_attention .attention_empty_wrap,
.blog_attention .attention_empty_con {
  display: none;
}
.blog_attention .blog_list_con .blog_list_att {
  padding: 25px 0;
}
.blog_attention .blog_list_con .blog_list_att dt {
  width: 100%;
  float: none;
}
.blog_attention .blog_list_con .blog_list_att dt .at_head_portrait,
.blog_attention .blog_list_con .blog_list_att dt .at_nickname,
.blog_attention .blog_list_con .blog_list_att dt .at_export,
.blog_attention .blog_list_con .blog_list_att dt .at_head_ins {
  display: inline-block;
  text-align: left;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
  line-height: 60px;
}
.blog_attention .blog_list_con .blog_list_att dt .at_head_portrait {
  width: 60px;
  height: 60px;
}
.blog_attention .blog_list_con .blog_list_att dt .at_nickname {
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.blog_attention .blog_list_con .blog_list_att dt:hover {
  color: #c00;
}
.blog_attention .blog_list_con .blog_list_att dt .at_export {
  width: 25px;
  height: 25px;
  margin: 17px auto;
}
.blog_attention .blog_list_con .blog_list_att dt .at_head_ins {
  margin-left: 20px;
  font-size: 12px;
  color: #666;
}
.blog_attention .blog_list_con .blog_list_att dd {
  margin-left: 0;
  padding: 0 30px;
}
.blog_attention .attention_empty_con .empty_tips {
  display: block;
  padding: 28px 0 0;
  font-size: 14px;
  color: #666;
  line-height: 14px;
  text-align: center;
}
.blog_attention .attention_empty_con .experts_list_wrap {
  padding: 0 30px 0 10px;
}
.blog_attention .attention_empty_con .experts_list_wrap .experts_list_att {
  width: 250px;
  margin-left: 20px;
  margin-top: 70px;
}
.blog_attention .attention_empty_con .more_att {
  display: block;
  width: 200px;
  height: 38px;
  margin: 30px auto;
  border: 1px solid #338dba;
  font-size: 14px;
  color: #338dba;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
}
.blog_attention .attention_empty_con .more_att:hover {
  color: #fff;
  background: #338dba;
}
/*  add by zhangw end */
